*.o
*.swp
/vision/captures/*.tif
ThreadVision_DiscreteRods/threadStereo
ThreadVision_DiscreteRods/threadStereo_fake
ThreadVision_DiscreteRods/stereo_test/*
ThreadVision_DiscreteRods/PrecomputedCanny/*
tags
vision/captures/*
*.png
*.avi
MotionPlanning/SQP_DATA/*.txt
MotionPlanning/ims_for_vids/*
*.pem
